
body{
    font-family: Arial, Helvetica, sans-serif;
}




#black-topbar {
    height: 40px;
    line-height: 40px;
    background-color: #39394d;
    z-index: 1;
    display: flex;
    justify-content: end;
   margin: 0%;

    }

    .list-inline{
        margin-right: 60px;
    }

    .list-inline>a{
        color: white; 
        line-height: 15px;
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        padding-right: 5px;
        padding-left: 5px; 
        
    }

   .logo{
       margin: 0px 10px 0px 24px;
       border: 0;
       height: 25px;
       width: auto;
       padding: 15px 5px;
   }

   .nav-bar{
    border: solid 1px;
    border-color: #e7e7e7;
    width: 100%;
    border-top: 0;
    box-shadow: none;
    display: flex;
    padding-bottom: 0;
    }

    .navbar-derecha{
        position: relative;
        left: 475px;
        top: 15px;
    }

   .botones{
    color: #777777;
    padding: 22px 9px;
    align-items: flex-start;
    flex-direction: row;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    
   }

   .botones:hover{
   color:  #2073d9;
   }

   .botones-derecha{
    color: #2073d9;
    padding: 0px 15px 0px 5px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    
   }


   .btn{
    background-color: #f26d21;
    text-decoration: none;
    color: white;
    margin: -2px  10px  0px  15px;
    padding: 0px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #f26d21; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-top: -2px;
    margin-right: 40px;
    padding: 0 16px;
    min-width: 112px;
    height: 32px;
    line-height: 32px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    
   }

   .btn:hover{
    background-color:#c45211 ;
   }

   .log-inbody{
    max-width: 1020px;
    margin: 62px auto 71px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 4px 40px rgb(0 0 0 / 15%);
    background-color: #dae0e9;
    display: flex;
    justify-content: center;
   }

   .leftpart-image{
    /* text-align: center; */
    color: #595959;
    /* background-position: center 170px; */
    background-repeat: no-repeat;
    background-size: 569px;
    /* background-image: url(./Imgs/Captura.JPG); */
   }

   .rightpart-log{
    background-color: #fff;
    border-radius: 0 12px 12px 0;
    min-height: 450px;
    display: table;
    display: inline-block;
   }

   .right-item{
    width: 350px;
    max-width: 100%;
    margin: 47px auto 0;
   }

   #login-form{
    margin: 0;
   }
   form{
    display: block;
   }